* {
    margin: 0;
    padding: 0;
}

.menu {
    height: 100vh;
    width: 25%;
    color: ghostwhite;
    min-width: 200px;
    background-color: rgb(3, 3, 3);
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu h1 {
    padding-top: 50px;  
    text-align: left;
    padding-left: 4.5rem;
    padding-bottom: .5rem;
}

.border {
    height: 95%;
    background-color: rgba(30, 207, 163, 0.61);
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills {
    list-style-type: none;
    font-size: large;
}

.iconList {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.iconList > li {
    padding:  0;
}

.iconList > li > a {
    text-decoration: none;
    color: rgb(2, 46, 35);
    padding: 10px;
}

.iconList * .MuiSvgIcon-root {
    color: rgb(2, 46, 35);
    font-size: 3rem;
}

.iconList * .MuiSvgIcon-root:hover {
    transition: transform 0.3s ease-in;
    transform: scale(1.2) !important;
    color: ghostwhite;

}