.welcome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
}

.welcome img {
    height: 500px;
    border-radius: 10px;
    pointer-events: none;
}